@font-face {
  font-family: 'pfdintextcondprolight';
  src: url('fonts/pfdintextcondprolight.eot');
  src: url('fonts/pfdintextcondprolight.eot') format('embedded-opentype'), url('fonts/pfdintextcondprolight.woff2') format('woff2'), url('fonts/pfdintextcondprolight.woff') format('woff'), url('fonts/pfdintextcondprolight.ttf') format('truetype'), url('fonts/pfdintextcondprolight.svg#pfdintextcondprolight') format('svg');
}
.light {
  font-family: 'pfdintextcondprolight';
}
.dropdown-toggle {
  border: 1px solid #000;
  padding: 9px 15px;
  margin-top: 8px;
  border-radius: 5px;
  color: #4f4f4f;
}
.dropdown-toggle:hover {
  background-color: #4f4f4f;
  color: #fff;
}
.dropdown-toggle i {
  margin-top: 10px;
  font-size: 18px;
}
h4 {
  font-size: 17px;
}
.section_header h2 {
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 321px) and (max-width: 549px) {
  nav {
    top: 0;
    height: 60px;
    padding-top: 10px;
  }
  section#main .main_header {
    margin: 110px auto 55px auto;
  }
  section#main .main_header h1 {
    margin-top: 5px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
  }
  section#main .main_header h1 span {
    line-height: 1.7;
    padding: 10px;
  }
  section#main .text-reg {
    width: 330px;
    margin: auto;
  }
  section#main .text-reg h4 {
    margin-top: 8px;
    margin-bottom: 4px;
    font-size: 11px;
    text-align: center;
  }
  section#main .main_button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section#main .main_button button#btn_main {
    margin-right: 0px;
    margin-bottom: 10px;
    padding: 10px 60px;
    font-size: 15px;
  }
  section#main .main_button button#btn_main2 {
    margin-right: 0px;
    padding: 10px 108px;
    font-size: 15px;
  }
  section#foto_galereya {
    padding-top: 15px;
  }
  section#foto_galereya h2 {
    font-size: 25px;
  }
  section#foto_galereya .row {
    display: block;
    padding-bottom: 0px;
  }
  section#foto_galereya .section_header {
    margin-bottom: 20px;
  }
  section#foto_galereya h4 {
    margin: 25px 0 -10px 0;
  }
  section#foto_galereya button.more_button {
    font-size: 12px;
    border: 1px solid #66cc66;
    padding: 10px 55px;
  }
  section#foto_galereya .card {
    padding-bottom: 30px;
  }
  section#foto_galereya .card:hover {
    margin-bottom: 27px;
    padding: 2px 2px;
  }
  section#creation {
    text-align: center;
    margin-top: 0px;
    padding-bottom: 11px;
  }
  section#creation h2 {
    font-size: 25px;
  }
  section#creation p {
    padding-top: 0px;
    margin-top: -10px;
    padding-bottom: 0px;
    font-size: 17px;
  }
  section#creation button {
    margin-top: 0px;
  }
  section#creation button.button_creation {
    font-size: 15px;
    border: 1px solid #ff9933;
    padding: 13px 30px;
  }
  section#creation img {
    margin-top: 0px;
  }
  section#creation img.img_creation {
    width: 0%;
    height: 0%;
  }
  section#help {
    text-align: center;
    padding-top: 0;
  }
  section#help h2 {
    padding-top: 15px;
    margin-bottom: 0px;
  }
  section#help p {
    padding-top: 0px;
    font-size: 17px;
  }
  section#help img.img_help {
    width: 0%;
    height: 0%;
  }
  section#help button#free_consult {
    margin-top: -5px;
    text-align: center;
    font-size: 17px;
    border: 1px solid #ff9933;
    padding: 12px 25px;
  }
  section#portfolio {
    padding-bottom: 10px;
  }
  section#portfolio .row h2 {
    font-size: 25px;
    padding-top: 0px;
    padding-bottom: 15px;
  }
  footer {
    text-align: center;
  }
  footer h2 {
    font-size: 25px;
    margin-left: 0;
  }
  footer a {
    height: 48px;
    display: inline-block;
    line-height: 36px;
    padding-right: 24px;
  }
  .modal-dialog .close {
    margin-top: -30px;
    margin-right: -25px;
  }
  .header_modal_consult {
    margin: -20px 0 15px 0;
  }
  .header_modal_consult h3 {
    font-size: 20px;
  }
  .header_modal_events {
    margin-top: -25px;
  }
  .header_modal_events h3 {
    font-size: 20px;
  }
  .header_modal_creation {
    margin-top: -20px;
  }
  .header_modal_creation h3 {
    font-size: 20px;
    margin-left: 25px;
    margin-bottom: 15px;
  }
  .fotorama {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 550px) and (max-width: 768px) {
  nav {
    top: 0;
    height: 60px;
    padding-top: 10px;
  }
  section#main .main_header {
    margin: 110px auto 55px auto;
  }
  section#main .main_header h1 {
    margin-top: 5px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
  }
  section#main .main_header h1 span {
    line-height: 1.7;
    padding: 10px;
  }
  section#main .text-reg {
    margin: auto;
  }
  section#main .text-reg h4 {
    text-align: center;
  }
  section#main .main_button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section#main .main_button button#btn_main {
    margin-right: 0px;
    margin-bottom: 10px;
    padding: 10px 60px;
    font-size: 15px;
  }
  section#main .main_button button#btn_main2 {
    margin-right: 0px;
    padding: 10px 108px;
    font-size: 15px;
  }
  section#foto_galereya {
    padding-top: 30px;
  }
  section#foto_galereya h2 {
    font-size: 25px;
  }
  section#foto_galereya .row {
    display: block;
    padding-bottom: 0px;
  }
  section#foto_galereya .section_header {
    margin-bottom: 20px;
  }
  section#foto_galereya h4 {
    margin: 25px 0 -10px 0;
  }
  section#foto_galereya button.more_button {
    font-size: 12px;
    border: 1px solid #66cc66;
    padding: 10px 55px;
  }
  section#foto_galereya .card {
    padding-bottom: 30px;
  }
  section#foto_galereya .card:hover {
    margin-bottom: 27px;
    padding: 2px 2px;
  }
  section#creation {
    text-align: center;
    margin-top: 0px;
    padding-bottom: 11px;
  }
  section#creation h2 {
    font-size: 25px;
  }
  section#creation p {
    padding-top: 0px;
    margin-top: -10px;
    padding-bottom: 0px;
    font-size: 17px;
  }
  section#creation button {
    margin-top: 0px;
  }
  section#creation button.button_creation {
    font-size: 15px;
    border: 1px solid #ff9933;
    padding: 13px 30px;
  }
  section#creation img {
    margin-top: 0px;
  }
  section#creation img.img_creation {
    width: 0%;
    height: 0%;
  }
  section#help {
    text-align: center;
    padding-top: 0;
  }
  section#help h2 {
    padding-top: 15px;
    margin-bottom: 0px;
  }
  section#help p {
    padding-top: 0px;
    font-size: 17px;
  }
  section#help img.img_help {
    width: 0%;
    height: 0%;
  }
  section#help button#free_consult {
    margin-top: -5px;
    text-align: center;
    font-size: 17px;
    border: 1px solid #ff9933;
    padding: 12px 25px;
  }
  section#portfolio {
    padding-bottom: 10px;
  }
  section#portfolio .row h2 {
    font-size: 25px;
    padding-top: 0px;
    padding-bottom: 15px;
  }
  footer {
    text-align: center;
  }
  footer h2 {
    font-size: 25px;
    margin-left: 0;
  }
  footer a {
    height: 48px;
    display: inline-block;
    line-height: 36px;
    padding-right: 24px;
  }
  .modal-dialog .close {
    margin-top: -30px;
    margin-right: -25px;
  }
  .header_modal_consult {
    margin: 0 0 15px 0;
  }
  .fotorama {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  nav {
    padding: 0px 30px;
  }
  section#main .main_header {
    margin: 115px auto 135px auto;
  }
  section#main .main_header h1 {
    margin-top: 25px;
    font-size: 25px;
    text-align: center;
  }
  section#main .text-reg {
    width: 524px;
    margin-left: 10px;
  }
  section#main .main_button button#btn_main {
    margin-left: 10px;
    padding: 15px 30px;
    font-size: 15px;
  }
  section#main .main_button button#btn_main2 {
    padding: 15px 30px;
    font-size: 15px;
  }
  section#foto_galereya {
    padding-top: 30px;
  }
  section#foto_galereya h2 {
    font-size: 27px;
  }
  section#foto_galereya .row {
    margin: 0 auto;
    display: table;
    padding-bottom: 0px;
    width: 70%;
  }
  section#foto_galereya .section_header {
    margin-bottom: 20px;
  }
  section#foto_galereya h4 {
    font-size: 23px;
    margin: 25px 0 -10px 0;
  }
  section#foto_galereya button.more_button {
    font-size: 15px;
    border: 2px solid #66cc66;
    padding: 17px 85px;
  }
  section#foto_galereya .card {
    padding-bottom: 30px;
  }
  section#foto_galereya .card:hover {
    margin-bottom: 28px;
    padding-bottom: 30px;
    padding: 2px 2px;
  }
  section#creation {
    text-align: center;
    margin-top: 15px;
    padding-bottom: 11px;
  }
  section#creation h2 {
    font-size: 27px;
  }
  section#creation p {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 18px;
  }
  section#creation button {
    margin-top: 10px;
  }
  section#creation button.button_creation {
    font-size: 18px;
    border: 2px solid #ff9933;
    padding: 17px 75px;
  }
  section#creation img {
    margin-top: 0px;
  }
  section#creation img.img_creation {
    width: 0%;
    height: 0%;
  }
  section#help {
    text-align: center;
    padding-top: 10;
  }
  section#help h2 {
    padding-top: 13px;
    margin-bottom: 0px;
  }
  section#help p {
    padding-top: 0px;
    font-size: 18px;
  }
  section#help img.img_help {
    width: 0%;
    height: 0%;
  }
  section#help button#free_consult {
    text-align: center;
    font-size: 18px;
    border: 2px solid #ff9933;
    padding: 17px 55px;
  }
  section#portfolio {
    padding-bottom: 15px;
  }
  section#portfolio .row h2 {
    font-size: 27px;
    padding-top: 12px;
    padding-bottom: 15px;
  }
  footer {
    text-align: center;
  }
  footer h2 {
    font-size: 27px;
    margin-left: 0;
  }
  footer a {
    height: 48px;
    display: inline-block;
    line-height: 36px;
    padding-right: 24px;
  }
  .modal-body p {
    margin: 0;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  nav {
    padding: 0px 5px;
  }
  section#foto_galereya {
    padding-top: 20px;
  }
  section#foto_galereya h2 {
    font-size: 27px;
  }
  section#foto_galereya .row {
    width: 103%;
  }
  section#foto_galereya .section_header {
    margin-bottom: 10px;
  }
  section#foto_galereya h4 {
    font-size: 17px;
    margin: 25px 0 -10px 0;
  }
  section#foto_galereya button.more_button {
    padding: 15px 75px;
  }
  section#foto_galereya .card {
    padding-bottom: 30px;
  }
  section#creation {
    margin-top: 15px;
    padding-bottom: 11px;
  }
  section#creation p {
    padding-top: 10px;
    font-size: 18px;
  }
  section#creation button {
    margin-top: 5px;
  }
  section#creation button.button_creation {
    font-size: 18px;
    border: 2px solid #ff9933;
    padding: 15px 65px;
  }
  section#creation img {
    margin-top: 20px;
    text-align: center;
  }
  section#help {
    padding-top: 20px;
  }
  section#help h2 {
    padding-top: 10px;
  }
  section#help p {
    padding-top: 30px;
    font-size: 18px;
  }
  section#help img.img_help {
    margin-top: 30px;
  }
  section#help button#free_consult {
    font-size: 18px;
    padding: 15px 35px;
  }
}
